 * { box-sizing: border-box; margin: 0; padding: 0; }
        body { font-family: 'Montserrat', Arial, sans-serif; background: rgba(233, 246, 247, 0.918); color: #110f0f; }
        a { text-decoration: none; color: inherit; }
/* body{
   font-family: 'Montserrat', Arial, sans-serif;
   background: rgba(233, 246, 247, 0.918); 
   color: #110f0f; 
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal; */
}
h1{
    font-size: 2.5rem;
    font-weight: 400;
    background-color: rgb(158, 247, 235);
    color: rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 10px; 
    border: 2px solid rgb(103, 227, 236);

}
h2{
    color: rgb(0, 0, 0);
    padding: 0.5rem;
}