 * {
     box-sizing: border-box;
 }

 body {
     font-family: 'Poppins', sans-serif;
     background: rgba(233, 246, 247, 0.918);
     color: #110f0f;
     font-optical-sizing: auto;
     font-size: 1.5rem;
     font-weight: 700;
     font-style: normal;
     background-image: url(https://img.freepik.com/free-vector/watercolor-pastel-color-pattern-design_23-2149412297.jpg);
 }

 h1 {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgb(252, 252, 252);
     color: rgb(0, 0, 0);
     padding: 1rem;
     position: sticky;
     top: 0;
     z-index: 100;
     box-shadow: 0 2px 8px rgba(23, 214, 182, 0.05);
     width: 100%;
     font-size: 2rem;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     height: 100px;
     text-decoration: underline;
     font-family: 'Times New Roman', Times, serif;
     border: 5px solid rgba(37, 196, 224, 0.315);

 }

 h2 {
     color: rgb(0, 0, 0);
     padding: 0.5rem;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 #main-event-add-container {
     background-color: rgba(255, 255, 255, 0.842);
     padding: 1rem;
     margin: 1rem auto;
     border-radius: 8px;
     box-shadow: 2px 8px rgba(7, 162, 223, 0.349);
     width: 90%;

 }

 form {
     display: flex;
     flex-direction: column;
     gap: 5px;
 }


 label {
     font-size: 1.2rem;
     color: rgb(43, 62, 230);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 input[type="text"],
 input[type="date"],
 input[type="email"] {
     width: 100%;
     padding: 8px;
     margin-top: 5px;
     border: 2px solid rgb(204, 204, 204);
     border-radius: 6px;
     font-size: 20px;
 }

 form textarea {
     resize: none;
     height: 80px;
     font-size: 1rem;
 }

 button {
     background-color: rgba(238, 114, 232, 0.425);
     color: rgb(0, 0, 0);
     padding: 10px;
     border: none;
     border-radius: 6px;
     cursor: pointer;
     font-size: 1.2rem;
     transition: background-color 0.3s ease;
     background: linear-gradient(to right, rgba(24, 163, 218, 0.651), rgba(14, 182, 233, 0.63));
 }

 button:hover {
     background-color: rgba(235, 73, 208, 0.625);
     transform: scale(1.1);
 }

 #bttn-container {
     margin: 15px;
     display: flex;
     gap: 10px;
 }

 #clear-event-btn:hover {
     background: rgba(220, 38, 38, 0.74);
 }

 #add-sample-event:hover {
     background: rgba(5, 150, 104, 0.685);

 }

 h2,
 h3 {
     margin-bottom: 15px;
 }

 .all-event-container {
     background-color: rgba(255, 255, 255, 0.842);
     padding: 1rem;
     margin: 1rem auto;
     border-radius: 8px;
     box-shadow: 2px 8px rgba(7, 162, 223, 0.356);
     width: 90%;
 }


 #events {
     background-color: rgba(255, 255, 255, 0.842);
     padding: 1rem;
     margin: 1rem auto;
     border-radius: 8px;
     box-shadow: 2px 8px rgba(7, 173, 223, 0.1);
     width: 90%;
 }

 h3 {
     color: rgb(0, 0, 0);
     padding: 0.5rem;

 }

 #all-events-container {
     background-color: rgba(255, 255, 255, 0.842);
     padding: 1rem;
     margin: 1rem auto;
     border-radius: 8px;
     box-shadow: 2px 8px rgba(223, 7, 176, 0.1);
     width: 90%;
 }

 .all-event-container div {
     background-color: rgba(255, 255, 255, 0.842);
     padding: 1rem;
     margin: 1rem auto;
     border-radius: 8px;
     box-shadow: 2px 8px rgba(223, 7, 176, 0.1);
     width: 90%;
     display: grid;
     grid-template-columns: repeat(auto-fit, 1fr);
     gap: 15px;
     grid-template-rows: auto;
 }

 #all-events-container div h4 {
     margin-bottom: 6px;
 }

 #all-events-container div span {
     font-size: 13px;
     color: rgb(31, 30, 30);
 }

 #all-events-container div p {
     margin-top: 6px;
     font-size: 14px;
 }